<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pjrAtiv.Properties.Settings.strConexao" connectionString="Data Source=JukabankMOISES.mssql.somee.com;Initial Catalog=JukabankMOISES;Persist Security Info=True;User ID=Moises90_SQLLogin_1;Password=tjnwoa1ips" />
    </connectionStrings>
</configuration>